.godot-embed {
    // The default values here will probably never be used because the bbcode always injects the variables with the bbcode default values
    --godot-embed-width: 600;
    --godot-embed-height: 400;

    width: ~"calc(var(--godot-embed-width) * 1px)";
    max-width: 100%;

    // A wrapper class between the embed and the iframe is necessary because the padding bottom trick
    // will be in % of the parent element's width
    .godot-embed-wrapper {
        position: relative;
        height: 0;
        padding-bottom: ~"calc(var(--godot-embed-height) / var(--godot-embed-width) * 100%)"; // Apply ratio
    }

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: none;
    }
}

@godot-toolbar-width: 200px;

.godot-toolbar,
.godot-toolbar-handle {
    background: rgba(0, 0, 0, 0.5);
}

.godot-toolbar {
    color: white;
    width: @godot-toolbar-width;
    border-radius: 5px 0 0 0;
    position: fixed;
    right: @godot-toolbar-width * -1;
    bottom: 20px;
    transition: right 0.3s;
    padding: 5px;

    .Button {
        .Button--color(white, transparent);

        text-align: left;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &:hover {
        right: 0;
    }
}

.godot-toolbar-handle {
    border-radius: 5px 0 0 5px;
    position: absolute;
    bottom: 0;
    right: @godot-toolbar-width;
    width: 20px;
    height: 50px;
    padding-top: 15px; // To center icon vertically
}

.godot-start {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; // Same as page background, but this way it hides the toolbar
    background-size: cover;
    background-position: center center;

    font-size: 2em;

    .icon {
        font-size: 2em;
        margin-bottom: 30px;
    }
}

.godot-mobile-compatibility {
    display: none;

    // Can't use built-in @phone query because it looks for iframe size instead of device size
    @media (max-device-width: @screen-phone-max) {
        display: block;
    }
}
