.godot-embed {
    // The default values here will probably never be used because the bbcode always injects the variables with the bbcode default values
    --godot-embed-width: 600;
    --godot-embed-height: 400;

    width: ~"calc(var(--godot-embed-width) * 1px)";
    max-width: 100%;

    // A wrapper class between the embed and the iframe is necessary because the padding bottom trick
    // will be in % of the parent element's width
    .godot-embed-wrapper {
        position: relative;
        height: 0;
        padding-bottom: ~"calc(var(--godot-embed-height) / var(--godot-embed-width) * 100%)"; // Apply ratio
    }

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: none;
    }
}

@godot-toolbar-width: 200px;

.godot-toolbar,
.godot-toolbar-handle {
    background: rgba(0, 0, 0, 0.5);
}

.godot-toolbar {
    color: white;
    width: @godot-toolbar-width;
    border-radius: 5px 0 0 0;
    position: fixed;
    right: @godot-toolbar-width * -1;
    bottom: 20px;
    transition: right 0.3s;
    padding: 5px;

    .Button {
        .Button--color(white, transparent);

        text-align: left;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .no-touch &:hover,
    &.open {
        right: 0;
    }

    &.left-side {
        border-radius: 0 5px 0 0;
        right: auto;
        left: @godot-toolbar-width * -1;
        transition: left 0.3s;

        .godot-toolbar-handle i::before {
            content: @fa-var-caret-right;
        }

        .no-touch &:hover,
        &.open {
            right: auto;
            left: 0;
        }
    }

    &.hidden {
        display: none;
    }
}

.godot-toolbar-handle {
    border-radius: 5px 0 0 5px;
    position: absolute;
    bottom: 0;
    right: @godot-toolbar-width;
    width: 20px;
    height: 50px;
    border: none; // Cancel browser style

    .left-side & {
        border-radius: 0 5px 5px 0;
        right: auto;
        left: @godot-toolbar-width;
    }

    // Not sure which, but an extension is overriding this style so we need to be super specific
    i.fas.fa-caret-left {
        color: white;
    }

    .open & i::before {
        content: @fa-var-caret-right;
    }

    .open.left-side & i::before {
        content: @fa-var-caret-left;
    }

    .touch & {
        cursor: pointer;
    }
}

.godot-start {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; // Same as page background, but this way it hides the toolbar
    background-size: cover;
    background-position: center center;

    .icon {
        display: block;
        font-size: 50px;
        margin-right: -8px; // It feels more centered when the icon is actually not correctly centered
    }

    &:hover .godot-start-circle {
        background: rgba(220, 220, 220, 0.6);
    }
}

.godot-start-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.godot-mobile-compatibility {
    // Make message centered
    left: 0;
    right: 0;

    // Only show message if the device supports touch
    .no-touch & {
        display: none;
    }
}
